html,
body {
  padding: 0;
  margin: 0;
  font-family: "Aileron";
  background-color: aliceblue;
  /* background-color: #202124; */
}
hr{
 width: 70%;
 color: #eee;
 border-width: .5px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0;
}
nav{
  overflow: hidden;
}
@media only screen and (min-width: 640px){
  nav{
    display: flex;
    padding: 0;
  }
  
}