
.logo{
  font-family: "Fondamento";
  color: rgb(208, 208, 208);
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1.5%;
}
.hidelogo{
  display: none;
  font-family: "Fondamento";
  color: rgb(208, 208, 208);
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 0;
}
.showdesk{
  display: none;
}
.landingImage{
  display: none;
}

/* .nav{
  padding: 3%;
} */
.social{
  display: flex;
  margin-left: 22%;
}
.icon{
  cursor: pointer;
  padding: 2%;
}
.navlink{
  line-height: 2.5;
}
.set{
  line-height: 2;
}
.navmenu{
  width: 200px;
  text-align: center;
  position: fixed;
  left: -200px;
  margin-right: 10%;
  flex-direction: column;
  background-color: rgb(1, 1, 46);
  z-index: 1000;
  color: #fff;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 15%; 
  overflow-x: hidden;
  
}
.navmenu a{
  transition: 0.3s;
  transition: color 650ms;
}
.navmenu.active {
  left: 5px;
  transition: 1s;
  display: inline;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.navmenu.inactive{
  left: -200px;
  transition: .5s;
}
.navmenu a:hover{
  color: rgb(1, 1, 46);
  font-weight: 600;
  border-radius: 8px;
  background-color: #eee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.landingpage{
  padding: 4%;
  overflow: hidden;
}
/* .image{
    
} */
.biosection{
  text-align: left;
}
/* About me */
.wordwrapper {
  white-space: nowrap;
}
.bluesection{
  background-color: rgb(1, 1, 46);
  padding: 10%;
  width: 100%;
}
.aboutmetext{
  overflow: hidden;
  color: #272727;
  text-align: left;
  background-color: #eee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5%;
}
.aboutmetext img{
 float: right;
 right: 0;
}
.aboutmetext p{
  font-size: 1.2em;
}
.container{
  padding: 0% 2% 0 3%;
}
.direction{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.mobiledivision hr{
  width: 100%;
  border-width: 2.0%;
  color: #fff;
}
.resize{
  width: 100%;
}
.blogpost{
  padding: 5%;
}
/* website section */
.website{
  padding: 10% 0 0 0;
}

.imge{
  padding: 2%;
}
.webimage{
  width: 100%;
  padding: 2%;
  padding-bottom: 5%;
}
.websiteimg{
  margin-bottom: 5%;
}
.center{
    text-align: center;
}

.buttoncenter{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fadeinsection {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fadeinsection .isvisible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}
.buttons{
  display: flex;
}
.right{
  padding-top: 17%;
}
.blue:hover {
	color: rgb(1, 1, 46);
	text-shadow: 0px 0px 10px rgb(1, 1, 46);
}
.dis{
  padding-top: 17%;
}

.socialicons{
  display: flex;
 
}
.icon{
  padding: 2% 10% 0 0 ;
}
.formbutton {
  text-align: center;
}
.submit {
  width: 60%;
  font-size: 1.0em;
  background-color: #000066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0404ba;
}
.grid .secimg{
  cursor: pointer;
}
.button{
  width: 50%;
  background-color: #000066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form{
  text-align: left;
  font-size: .9em;
}
.formtext {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.textarea {
  width: 100%;
  height: 20vh;
  margin: 8px 0;
  padding: 5% 7%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.description{
  text-align: center;
  font-size: 1.2em;
}
@media only screen and (min-width: 640px){
 
/* image section */
  
  .hidelogo{
    display: inherit;
  }
  .set{
    display: none;
  }
  .nav{
    width: 100%; 
  }
  .logo{
    display: none;
  }
  .navmenu{
    width: 100%;
    height: auto;  
    position: relative;
    display: flex; 
    background-color: inherit;
    flex-direction: row;
    margin-top: 5.9%;
    color: #eee;
    
  }
  .navmenu.inactive{

    left: 0;
    transition: none;
  }
  .navmenu li{
    line-height: 0;
    position: relative;
  }
  .navmenu a{
    display: block;
    padding: .3em;
    
    transition: color 650ms;
  }
  .icon{
    line-height: 2.5em;
    
  }
  .social{
    margin: auto;
  }
  .navmenu.active {
    right: 0;
    display: inline-flex;
    border-radius: 0;
    box-shadow: none;
  }
  .imge{
    height: 70px;
  }
  /* Contacts */
  .five{
    padding: 10%;
  }
}
@media only screen and (min-width: 840px){
  
  .imge{
    height: 100px;
  }
  .biosection{
    float: left;
    width: 60%;
  }
  .image{
    float: right;
    width: 40%;
  }
}
@media only screen and (min-width: 1200px){
  .deskhide{
    display: none;
  }
  .showdesk{
    display: inline;
    overflow:auto;
  }
  /*langing page*/
  .landingpage{
    margin-top: 8%;
  }
  .biosection{
    margin-top: 8%;
  }
  /*About me section*/
  .aboutbox{
    width: 80%;
  }
  .aboutdec{
   border-radius: 8px;
   background-color: #eee;
    color: #272727;
    margin-top: 0;
    float: left;
    text-align: left;
    width: 60%;
    height: 70%;
    margin-left: 15%;
    padding: 3%;
    position: relative;
  }
  .aboutdec h1{
    font-size: 3.0em;
  }
  .progress{
    display: flex;
  }
   .aboutimage{
     position: absolute;
     right: 10%;
     margin-top: 2.3%;
     height: 50%;
   }
   .aboutimage img{
     border-radius: 8px;
     height: 100%;
   }
   .spac{
     padding: 3%;
   }
   /*Websites porfolio section*/
   .webtitle{
      margin-top: 35%;
   }
   .left{
    float: left;
    width: 46%;
  }
  .right{
    float: right;
    width: 46%;
    padding-top: 0;
  }
  .bluesection{
    padding: 0;
    margin-top: 20%;
     height: 150px;
  }
  .posts{
     padding: 1%;
  }
  /* Blogs*/
  .blogpost{
    padding: 10%;
  }
  /*My contact page*/
  .contact{
    padding: 0 20% 0 20%;
  }
}