.logo{
  font-family: "Fondamento";
  color: purple;
  font-size: 1.5em;
  float: right;
  font-weight: 900;
  margin-right: 35%;
}
.nav{
  padding: 3%;
}
.social{
  display: flex;
  margin-left: 22%;
}
.icon{
  padding: 4%;
}
.navlink{
  line-height: 2.5;
}
.set{
  margin-top: 3.5%;
}
.navmenu{
  width: 200px;
  text-align: center;
  position: fixed;
  display: none;
  margin-right: 10%;
  flex-direction: column;
  background-color: purple;
  z-index: 1000;
  color: #eee;
  font-size: 1.2em;
  margin-top: 15%;
 
}
.navmenu.active {
  display: inline;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
@media only screen and (min-width: 640px){
  .set{
    display: none;
  }
  .logo{
    float: center;
    margin-right: 0;
  }
  .navmenu{
    width: 100%;
    top: 0;
    height: auto;
    margin-top: 4.8%;
    position: relative;
    flex-direction: row;
    background-color: inherit;
    display: flex;
  }
  .navmenu li{
    line-height: 6rem;
    position: relative;
  }
  .navmenu a{
    display: block;
    padding: 0 1.5em 0 0;
    transition: color 650ms;
  }
  .icon{
    line-height: 2.5em;
  }
  .social{
    margin: auto;
  }
  .navmenu.active {
    right: 0;
    display: inline-flex;
    border-radius: 0;
    box-shadow: none;
  }
}