
.logo{
  font-family: "Fondamento";
  color: rgb(208, 208, 208);
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1.5%;
}
.hidelogo{
  display: none;
  font-family: "Fondamento";
  color: rgb(208, 208, 208);
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 0;
}
/* .nav{
  padding: 3%;
} */
.social{
  display: flex;
  margin-left: 22%;
}
.icon{
  cursor: pointer;
  padding: 4%;
}
.navlink{
  line-height: 2.5;
}
.set{
  line-height: 2;
}
.navmenu{
  width: 200px;
  text-align: center;
  position: fixed;
  left: -200px;
  margin-right: 10%;
  flex-direction: column;
  background-color: blue;
  z-index: 1000;
  color: #fff;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 15%; 
  overflow-x: hidden;
  
}
.navmenu a{
  transition: 0.3s;
  transition: color 650ms;
}
.navmenu.active {
  left: 5px;
  transition: 1s;
  display: inline;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.navmenu.inactive{
  left: -200px;
  transition: .5s;
}
.navmenu a:hover{
  color: blue;
  font-weight: 600;
  border-radius: 8px;
  background-color: #eee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.landingpage{
  padding: 4%;
  overflow: hidden;
}
/* .image{
    
} */
.biosection{
  text-align: left;
}
/* About me */
.wordwrapper {
  white-space: nowrap;
}
.aboutme{
  background-color: rgb(1, 1, 46);
  padding: 10%;
  width: 100%;
}
.aboutmetext{
  overflow: hidden;
  color: #272727;
  text-align: left;
  background-color: #eee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5%;
}
.aboutmetext img{
 float: right;
 right: 0;
}
.aboutmetext p{
  font-size: 1.2em;
}
.container{
  padding: 0% 2% 0 3%;
}
.direction{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.mobiledivision hr{
  width: 100%;
  border-width: 2%;
  color: #fff;
}
.resize{
  width: 100%;
}
@media only screen and (min-width: 640px){
 
/* image section */
  
  .hidelogo{
    display: inherit;
  }
  .set{
    display: none;
  }
  .nav{
    width: 100%; 
  }
  .logo{
    display: none;
  }
  .navmenu{
    width: 100%;
    height: auto;  
    position: relative;
    display: flex; 
    background-color: inherit;
    flex-direction: row;
    margin-top: 5.9%;
    color: #eee;
    
  }
  .navmenu.inactive{

    left: 0;
    transition: none;
  }
  .navmenu li{
    line-height: 0;
    position: relative;
  }
  .navmenu a{
    display: block;
    padding: .5em;
    transition: color 650ms;
  }
  .icon{
    line-height: 2.5em;
    margin-top: 10%;
    
  }
  .social{
    margin: auto;
  }
  .navmenu.active {
    right: 0;
    display: inline-flex;
    border-radius: 0;
    box-shadow: none;
  }
}
@media only screen and (min-width: 840px){
  .biosection{
    margin-top: 6%;
  }
  
}
@media only screen and (min-width: 1200px){
  
  .slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .outerwrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  } 
}